body {
    background: green;
}

.speelbord {
    background-color: gray;
    text-align: center;

    margin-left: 10cm;
    margin-right: 10cm;
    padding-top: 30px;
    padding-bottom: 30px;
}

button {
    width: 100px;
    height: 50px;
}

